.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: lightblue;
  margin: 0;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem auto;
  }

  &__title {
    margin: 0 auto 2rem;
    padding: 0;
  }

  &__caption {
    font-size: 1.25rem;
    margin: 1rem auto;
  }
}
